.jim-container {
	display: flex;
	justify-content: center;
	max-width: 1080px;
	margin-top: 120px;
}

.jim-left {
	min-height: 837px;
	max-width: 50%;
	width: 50%;
	align-self: center;
}
.jim-right {
	max-width: 50%;
	margin-top: 70px;
	margin-bottom: 80px;
	display: flex;
	flex-direction: column;
	min-height: 561px;
	width: 50%;
}
img.jim-img {
	max-width: 43%;
}

p {
	margin: 0 5px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.6;
	text-align: left;
	height: 41.5vh;
	overflow: auto;
}
.books {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.book {
	margin: 0 5px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.copys {
	min-height: 389.67;
}
.copys span {
	text-transform: uppercase;
}

.social {
	display: flex;
	justify-content: flex-end;
}

.fas,
.fab {
	font-size: 20px;
	margin: 10px;
}

.book {
	position: relative;
}
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 50%;
	background-color: black;
}
.book:hover img {
	opacity: 0.5;
}
.book:hover .middle {
	opacity: 1;
}

.text {
	color: white;
	font-size: 12px;
	font-family: franklin-gothic-atf, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 12px;
}
@media (min-width: 1700px) {
	img.jim-img {
		max-width: 65%;
	}
}
