.container {
	margin-top: 0;
}
.mobile-container.mexico {
	overflow-y: auto;
}
body {
	overscroll-behavior-y: none;
}

.wf-content {
	display: grid;
	grid-template-columns: 0.4fr 2.2fr 0.4fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	align-items: center;
	width: 72vw;
	max-width: 1080px;
	margin-top: 90px;
	grid-template-areas: "l-arrow main r-arrow";
	max-width: 1400px;
	max-width: 1260px;
}
.l-arrow {
	grid-area: l-arrow;
	text-align: right;
}
.main {
	grid-area: main;
}
.r-arrow {
	grid-area: r-arrow;
	text-align: left;
	margin: 0;
}

img.spread {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .2);
}

img.spread.mexico-opener {
	border: none;
}
.active {
	display: block;
}
.sliding {
	display: none;
	text-align: center;
}

.arrows {
	align-self: center;
	margin-bottom: 50px;
	display: inline-flex;
}
.arrows.back {
	width: 95px;
}
.arrows.front {
	width: 140px;
}
.arrow:hover {
	color: grey;
}
h2 span {
	margin: 5px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
	#navbarMexico {
		width: 80vw;
		padding: 0;
	}
	.wf-content {
		width: 83vw;
	}
}

@media (min-width: 900px) and (max-width: 1199px) {
	#navbarMexico {
		width: 85vw;
		padding: 0;
	}
	.wf-content {
		width: 90vw;
	}
	h6 {
		font-size: 18px;
	}
}

@media (min-width: 811px) and (max-width: 899px) {
	#navbarMexico {
		width: 90vw;
		padding: 0;
	}
	.wf-content {
		width: 95vw;
	}
	#navbarMexico h6 {
		font-size: 18px;
		letter-spacing: 3px;
	}
}

@media (min-width: 600px) and (max-width: 810px) {
	#navbarMexico {
		width: 90vw;
		padding: 0;
	}
	.wf-content {
		width: 95vw;
		grid-template-columns: 0.45fr 2.1fr 0.45fr;
	}
	#navbarMexico h6 {
		font-size: 18px;
		letter-spacing: 3px;
	}
}

@media (max-width: 539px) and (max-height: 739px) {
	.mobile.mexicoAlt {
		margin-top: 200px;
	}
}

@media (max-width: 539px) and (min-height: 740px) {
	.mobile.mexicoAlt {
		margin-top: 150px;
	}
}
.mexicoAlt {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.mobile.mexicoAlt img {
	height: auto;
}
.mobile.mexicoAlt img.spread {
	margin: 5px 0;
}
.mobile.mexicoAlt {
	height: 60vh;
}
