.jim-container {
	display: grid;
	grid-template-columns: .5fr 1.5fr;
	grid-template-rows: 1.7fr 0.3fr;
	gap: 0px 0px;
	grid-template-areas: "image copy" "image books";
	width: 50%;
	margin-top: 150px;
	height: 80%;
	grid-gap: 20px;
}

p {
	width: 90%;
	margin: 0;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.5;
	padding: 20px 0 20px 20px;
	text-align: left;
}
.image {
	grid-area: image;
}
.copy {
	grid-area: copy;
}
.books {
	grid-area: books;
	display: flex;
}
.book {
	width: 18%;
}
.box {
	border: 1px solid palegreen;
}
img.jim-img {
	height: 100%;
	width: inherit;
}
