.wf-content {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	height: 90%;
	width: 100%;
	margin: 0 auto;
	width: 75%;
}
.spread {
	width: 100%;
	border: 15px solid rgba(0, 0, 0, .2);
}
.active {
	display: block;
}
.sliding {
	display: none;
	text-align: center;
}
.arrowSpace {
	margin: 0 10px;
}
.slider-items {
	width: 79%;
}
.arrows {
	align-self: center;
	margin-bottom: 50px;
	display: inline-flex;
}
.arrows.back {
	width: 95px;
}
.arrows.front {
	width: 120px;
}
.arrow:hover {
	color: grey;
}
