.container {
	margin-top: 0;
}
.mobile-container.mexico {
	overflow: hidden;
	align-items: inherit;
}
body {
	overscroll-behavior-y: none;
}

.wf-content {
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	align-items: center;
	width: 72vw;
	max-width: 1080px;
	margin-top: 90px;
	grid-template-areas: "l-arrow main r-arrow";
	max-width: 1400px;
	max-width: 1260px;
}
.l-arrow {
	grid-area: l-arrow;
}
.main {
	grid-area: main;
}
.r-arrow {
	grid-area: r-arrow;
	justify-self: start;
}

img.spread {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .2);
}

img.spread.mexico-opener {
	border: none;
}
.active {
	display: block;
}
.sliding {
	display: none;
	text-align: center;
}

.arrows {
	align-self: center;
	margin-bottom: 50px;
	display: inline-flex;
}
.arrows.back {
	width: 95px;
}
.arrows.front {
	width: 140px;
}
.arrow:hover {
	color: grey;
}
h2 span {
	margin: 5px;
}

@media (min-width: 900px) and (max-width: 1199px) {
	#navbarMexico {
		width: 80vw;
		padding: 0;
	}
	.wf-content {
		width: 80vw;
	}
	h6 {
		font-size: 1.8rem;
	}
	#navbarSocial {
		width: auto;
		right: 3vw;
	}
}

@media (min-width: 760px) and (max-width: 899px) {
	.wf-content {
		width: 80vw;
		grid-gap: 10px;
	}

	.arrow h2 {
		font-size: 1.2rem;
	}
	.arrow h2 span {
		margin: 2px;
	}
}

@media (min-width: 540px) and (max-width: 759px) {
	#navbarMexicoMobile {
		width: 85vw;
		height: 180px;
	}
	.buyNav.mexico {
		justify-content: flex-end;
	}
	.mobile-container.mexico {
		margin-top: 0;
	}
	.mexico-right {
		right: 14vw;
		top: 65px;
	}
	.mobile.mexicoAlt {
		height: auto;
		margin-top: 170px;
		margin-bottom: 5vh;
		height: 70vh;

		overflow-y: scroll;
	}
}

@media (max-width: 539px) and (min-height: 740px) {
}

.mobile.mexicoAlt img {
	height: auto;
}
.mobile.mexicoAlt img.spread {
	margin: 10px 0;
}
.mobile.mexicoAlt {
	padding-bottom: 150px;
	overflow-y: scroll;
}
.mobile.mexicoAlt::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mobile.mexicoAlt {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@media (max-width: 400px) {
	.mobile.mexicoAlt {
		margin-top: 160px;
		height: 100vh;
		padding-bottom: 150px;
	}
}
@media (max-height: 540px) and (max-width: 899px) {
	.mobile.mexicoAlt {
		margin-top: 140px;
	}
	.wf-content {
		width: 70vw;
	}
}
