.mobile-container {
	display: flex;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	align-items: center;
}
.mobile {
	width: 80%;
	margin-top: 20px;
}

body {
	overscroll-behavior-y: none;
}

html,
body {
	overscroll-behavior: none;
}
.main-mobile {
	margin-top: 20px;
	display: grid;
	grid-template-columns: .9fr 1.1fr 1.1fr .9fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-template-areas: "ipadtl carousel-mobile carousel-mobile ipadtr" "ipadml carousel-mobile carousel-mobile ipadmr"
		"ipadbl carousel-mobile carousel-mobile ipadbr";
}
.ipadtl {
	grid-area: ipadtl;
}
.ipadml {
	grid-area: ipadml;
}
.ipadbl {
	grid-area: ipadbl;
}
.ipadtr {
	grid-area: ipadtr;
}
.ipadmr {
	grid-area: ipadmr;
}
.ipadbr {
	grid-area: ipadbr;
}
.carousel-mobile {
	grid-area: carousel-mobile;
}
.ipadhead h5 {
	width: 90%;
	margin-left: 10%;
}
.mobile-footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	position: relative;
}
.signUpBtn.mobile {
	width: 30%;
	font-size: 14px;
	right: 0;
}
.mobile-footer h2 {
	margin-top: 10px;
}
.mobile-container #navbarHome a h6 {
	padding: 0;
}
@media (max-width: 539px) {
	.main-mobile {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: .5fr 1fr 1fr .5fr;
		grid-gap: 10px;

		grid-template-areas: "ipadtl ipadml ipadbl" "carousel-mobile  carousel-mobile  carousel-mobile "
			"carousel-mobile  carousel-mobile  carousel-mobile" "ipadtr ipadmr ipadbr";
	}
	.mobile-container {
		overflow-y: auto;
		height: 95vh;
	}
	.mobile-container #navbarHome {
		width: 100%;
		height: 85px;
		z-index: 1;
		background: white;
		padding: 0 7.5%;
	}

	.mobile-container h1 {
		font-size: 50px;
		line-height: .85;
		margin-bottom: 10px;
		text-align: right;
	}
	.mobile-container h5 {
		width: 100%;
		margin-left: 0px;
	}
	.mobile {
		margin-top: 150px;
		width: 85%;
		height: 100%;
		/* margin-top: 160px; */
	}
	.mobileToo {
		margin-top: 330px;
		width: 85%;
		height: 100%;
	}
	.signUpBtn.mobile {
		width: 50%;
	}

	.signUpBtn.mobile:focus {
		outline: none !important;
	}
	.ipadhead {
		margin-top: 17vh;
	}
	.mobile-container h3 {
		margin-bottom: -5px;
		justify-self: flex-end;
		align-self: flex-end;
	}
	.mobile-footer {
		height: 50px;
		margin-bottom: 20px;
	}
	.mobile-footer h2 {
		width: 50%;
	}

	.ipadhead h3 {
		display: none;
	}
	.ipadhead h1 {
		display: none;
	}
	.main-mobile {
		margin-top: 15px;
	}
}

@media (max-width: 539px) and (min-height: 740px) {
	.ipadhead {
		margin-top: 14vh;
	}
}

@media (max-width: 350px) {
	#navbarHomeMobile h1 {
		font-size: 40px;
	}
	.ipadhead {
		margin-top: 20vh;
	}
}
