.home-container {
	display: flex;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	align-items: center;
}

.main-container {
	display: grid;
	grid-template-columns: .95fr .95fr 1.1fr 1.1fr .95fr .95fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px 20px;
	grid-template-areas: "ltla ltra maina maina rtla copya" "lmla lmra maina maina rmla copya"
		"lbla lbra maina maina rbla copya";
}

.ltla {
	grid-area: ltla;
}
.ltra {
	grid-area: ltra;
}
.lmla {
	grid-area: lmla;
}
.lmra {
	grid-area: lmra;
}
.lbla {
	grid-area: lbla;
}
.lbra {
	grid-area: lbra;
}
.rtla {
	grid-area: rtla;
}
.rmla {
	grid-area: rmla;
}
.rbla {
	grid-area: rbla;
}
.copya {
	grid-area: copya;
}
.maina {
	grid-area: maina;
}

.copya {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.headera {
	height: 105px;
}

.signUpBtn.homeEight {
	width: 100%;
	align-items: center;
}

.boxes img {
	/* height: 180px;
	width: 170px; */
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* .maina {
	/* height: 614px; */
/* width: 410px; */
/* }  */

h1 {
	font-family: MundoSansPro-Medium;
	text-transform: uppercase;
	letter-spacing: -2px;
	color: black;
	font-size: 64px;
	right: 14.5vw;
	margin: 0;
	text-align: right;
}
h2 {
	font-size: 14px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 3px;
	margin-top: 10px;
}
h3 {
	font-size: 28px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 3px;
	text-align: right;
	margin: 0;
	margin-bottom: -20px;
}
h5 {
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.3;
	font-style: normal;
	letter-spacing: 0;
	margin: 0;
	text-align: right;
}
.signUpBtn {
	width: 47%;
	background: black;
	color: white;
	font-size: 14px;
	bottom: 0;
	font-weight: 500;
	font-family: franklin-gothic-atf, sans-serif;
	padding: 0;
	border: none;
	height: 20px;
	align-self: flex-end;
}
span {
	text-transform: uppercase;
}
@media (min-width: 1200px) and (max-width: 1399px) {
	.home,
	#navbarHome {
		width: 80vw;
	}
	h5 {
		font-size: 1.1rem;
	}
	#navbarHome {
		padding: 0;
	}
}
@media (min-width: 1400px) {
	.home {
		width: 70%;
	}
	h5 {
		font-size: 1.25rem;
	}
}

@media (min-width: 900px) and (max-width: 1199px) {
	.home,
	#navbarHome {
		width: 85%;
	}
	h5 {
		font-size: 1.1rem;
	}
}

@media (min-width: 540px) and (max-width: 899px) {
	.home,
	#navbarHome {
		width: 80%;
	}
}
