.mobile-container {
	display: flex;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	margin-top: 200px;
}
.mobile {
	width: 70vw;
}

body {
	overscroll-behavior-y: none;
}

.main-mobile {
	margin-top: 20px;
	display: grid;
	grid-template-columns: .9fr 1.1fr 1.1fr .9fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-template-areas: "ipadtl carousel-mobile carousel-mobile ipadtr" "ipadml carousel-mobile carousel-mobile ipadmr"
		"ipadbl carousel-mobile carousel-mobile ipadbr";
}
.ipadtl {
	grid-area: ipadtl;
}
.ipadml {
	grid-area: ipadml;
}
.ipadbl {
	grid-area: ipadbl;
}
.ipadtr {
	grid-area: ipadtr;
}
.ipadmr {
	grid-area: ipadmr;
}
.ipadbr {
	grid-area: ipadbr;
}
.carousel-mobile {
	grid-area: carousel-mobile;
}

.mobile-footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	position: relative;
}

.signUpBtn.mobiled {
	align-self: flex-start;
	margin-top: 10px;
	width: 24%;
	padding: 0;
	font-size: 1.4rem;
	line-height: 1;
	padding: 5px 10px;
}
.signUpBtn.mobile h7 {
	font-size: 12px;
	line-height: .75;
}

.credits {
	width: 75%;
	margin-top: 8px;
}

@media (min-width: 541px) and (max-width: 900px) {
	h2 {
		text-align: left;
		margin: 0;
		margin-bottom: 5px;
	}
	.signUpBtn.mobiled {
		width: inherit;
	}
}
@media (width: 540px) {
	.mobile-footer h2 {
		text-align: left;
		font-size: 1.2rem;
		letter-spacing: 2px;
		margin: 0;
	}
	.mobile-footer {
		height: 135px;
		display: flex;
		align-items: flex-start;
	}
	.signUpBtn.mobiled {
		width: 100%;
		padding: 4px;
		line-height: .75;
	}
	.credits {
		width: 100%;
		margin-top: 7px;
	}
	.signUpBtn.mobiled h7 {
		font-size: 10px;
	}
}
@media (min-width: 540px) and (max-width: 600px) {
	.mobile-container {
		margin-top: 170px;
	}
}
@media (min-width: 601px) and (max-width: 900px) {
	.mobile-container {
		margin-top: 250px;
	}
}

@media (max-width: 539px) {
	.main-mobile {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: .5fr 1fr 1fr .5fr;
		grid-gap: 10px;

		grid-template-areas: "ipadtl ipadml ipadbl" "carousel-mobile  carousel-mobile  carousel-mobile "
			"carousel-mobile  carousel-mobile  carousel-mobile" "ipadtr ipadmr ipadbr";
	}
	.mobile-container {
		overflow-y: auto;
		align-items: unset;
		margin-top: 0;
	}

	.mobile {
		width: 85vw;
		margin-top: 160px;
	}

	.mobile-footer h2 {
		margin: 5px 0;
		text-align: center;
		font-size: 1.2rem;
		letter-spacing: 2.5px;
	}

	.signUpBtn.mobiled h7 {
		text-align: center;
	}
	.signUpBtn.mobiled:focus {
		outline: none !important;
	}

	.mobile-footer {
		height: 135px;
		display: inherit;
	}

	.signUpBtn.mobiled {
		width: 100%;
		padding: 0;
		padding: 7.5px;
		line-height: .5;
	}

	.credits {
		width: 100%;
	}
}
@media (min-width: 401px) and (max-width: 539px) {
	.mobile {
		margin-top: 160px;
	}
}

@media (max-width: 539px) and (min-height: 740px) {
	.mobile-footer {
		height: 170px;
	}
}
@media (max-width: 400px) {
	.mobile {
		margin-top: 150px;
	}
}
