.home-container {
	display: flex;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	align-items: center;
}

.main-container {
	display: grid;
	grid-template-columns: .95fr .95fr 1.1fr 1.1fr .95fr .95fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px 20px;
	grid-template-areas: "ltla ltra maina maina rtla copya" "lmla lmra maina maina rmla copya"
		"lbla lbra maina maina rbla copya";

	max-width: 1260px;
}

.ltla {
	grid-area: ltla;
}
.ltra {
	grid-area: ltra;
}
.lmla {
	grid-area: lmla;
}
.lmra {
	grid-area: lmra;
}
.lbla {
	grid-area: lbla;
}
.lbra {
	grid-area: lbra;
}
.rtla {
	grid-area: rtla;
}
.rmla {
	grid-area: rmla;
}
.rbla {
	grid-area: rbla;
}
.copya {
	grid-area: copya;
}
.maina {
	grid-area: maina;
}

.copya {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.headera {
	height: fit-content;
}

.signUpBtn.homeEight {
	width: 100%;
	align-items: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
h1 {
	font-family: MundoSansPro-Medium;
	text-transform: uppercase;
	/* letter-spacing: -2px; */
	color: black;
	font-size: 64px;
	right: 14.5vw;
	margin: 0;
	text-align: right;
}
h2 {
	font-size: 14px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 3px;
	margin-top: 10px;
}
h3 {
	font-size: 28px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 6px;
	text-align: right;
	margin: 0;
	margin-bottom: -20px;
}
h5 {
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.3;
	font-style: normal;
	letter-spacing: 0;
	margin: 0;
	text-align: right;
}
.signUpBtn {
	width: 47%;
	background: black;
	color: white;
	font-size: 14px;
	bottom: 0;
	font-weight: 500;
	font-family: franklin-gothic-atf, sans-serif;
	padding: 4px 20px;
	border: none;
	align-self: flex-end;
	text-align: center;
}
.signUpBtn:hover {
	background: grey;
	color: white;
}
signUpBtn.homeEight h7 {
	padding: 0 40px;
}
.footera {
	display: flex;
	justify-content: space-between;
}
@media (min-width: 1400px) {
	.home {
		width: 66vw;
		max-width: 1260px;
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	.home {
		width: 70vw;
	}

	#navbarHome {
		padding: 0;
	}
	#navbarSocial {
		width: 11vw;
	}
}

@media (min-width: 900px) and (max-width: 1199px) {
	.home,
	#navbarHome {
		width: 80vw;
	}
	.home-container #navbarSocial {
		width: auto;
		right: 3vw;
	}
	h5 {
		font-size: 1.15rem;
		line-height: 1.15;
	}
	h1 {
		font-size: 58px;
	}
	h3 {
		font-size: 25px;
	}
}

@media (min-width: 540px) and (max-width: 899px) {
	.home,
	#navbarHome {
		width: 70vw;
	}
	h1 {
		font-size: 50px;
	}
	#navbarSocial {
		width: 11vw;
	}
}
