.mobile-container {
	display: flex;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	align-items: center;
}
.mobile {
	width: 70vw;
}

body {
	overscroll-behavior-y: none;
}

.main-mobile {
	margin-top: 20px;
	display: grid;
	grid-template-columns: .9fr 1.1fr 1.1fr .9fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-template-areas: "ipadtl carousel-mobile carousel-mobile ipadtr" "ipadml carousel-mobile carousel-mobile ipadmr"
		"ipadbl carousel-mobile carousel-mobile ipadbr";
}
.ipadtl {
	grid-area: ipadtl;
}
.ipadml {
	grid-area: ipadml;
}
.ipadbl {
	grid-area: ipadbl;
}
.ipadtr {
	grid-area: ipadtr;
}
.ipadmr {
	grid-area: ipadmr;
}
.ipadbr {
	grid-area: ipadbr;
}
.carousel-mobile {
	grid-area: carousel-mobile;
}

.mobile-footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	position: relative;
}

.mobile-footer h2 {
	/* margin-top: 10px; */
	font-size: 12px;
	margin-top: 1px;
	letter-spacing: 2.5px;
}
.mobile-container #navbarHome a h6 {
	padding: 0;
}
.ipadhead h3 {
	font-size: 20px;
}
.ipadhead h1 {
	font-size: 45px;
}
.ipadhead h5 {
	font-size: 18px;
}
.mobile-container h6 {
	font-size: 18px;
}
.signUpBtn.mobile {
	align-self: flex-start;
	margin-top: 10px;
	width: 24%;
	padding: 0;
	font-size: 14px;
	line-height: 1;
	padding: 5px 10px;
}
.signUpBtn.mobile h7 {
	font-size: 12px;
	line-height: .75;
}

.credits {
	width: 75%;
	margin-top: 8px;
}
@media (min-width: 699) and (max-width: 900) {
	.mobile-container #navbarSocial {
		width: auto;
	}
}
@media (min-width: 540) and (max-width: 700) {
	.mobile-footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: baseline;
		position: relative;
	}
	.mobile-footer.signUpBtn.mobile {
		width: 30%;
		font-size: 14px;
		right: 0;
		height: 50px;
		margin-top: 10px;
		padding: 0 10px;
	}
}

@media (max-width: 539px) {
	.main-mobile {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: .5fr 1fr 1fr .5fr;
		grid-gap: 10px;

		grid-template-areas: "ipadtl ipadml ipadbl" "carousel-mobile  carousel-mobile  carousel-mobile "
			"carousel-mobile  carousel-mobile  carousel-mobile" "ipadtr ipadmr ipadbr";
	}
	.mobile-container {
		overflow-y: auto;
		height: 95vh;
	}
	.mobile-container #navbarHome {
		width: 100%;
		height: 85px;
		z-index: 1;
		background: white;
		padding: 0 7.5%;
	}
	.mobile-container #navbarHomeMobile {
		width: 100%;
	}
	#navbarHomeMobile h3 {
		font-size: 18px;
	}
	.ipadhead h5 {
		line-height: 1.2;
	}
	.mobile-container h1 {
		font-size: 50px;
		line-height: .85;
		margin-bottom: 10px;
		text-align: right;
	}
	.mobile-container h5 {
		width: 100%;
		margin-left: 0px;
	}
	.mobile {
		margin-top: 150px;
		width: 85%;
		height: 100%;
	}
	.mobileToo {
		margin-top: 330px;
		width: 85%;
		height: 100%;
	}
	.mobile-footer {
		flex-direction: row;
	}
	.mobile-footer h2 {
		width: 100%;
		margin: 0;
		margin: 5px 0;
	}

	.signUpBtn.mobile h7 {
		text-align: center;
	}
	.signUpBtn.mobile:focus {
		outline: none !important;
	}
	.ipadhead {
		margin-top: 17vh;
	}
	.mobile-container h3 {
		margin-bottom: -5px;
		justify-self: flex-end;
		align-self: flex-end;
	}
	.mobile-footer {
		height: 50px;
		margin-bottom: 20px;
		flex-direction: column;
		display: inherit;
	}

	.ipadhead h3 {
		display: none;
	}
	.ipadhead h1 {
		display: none;
	}
	.main-mobile {
		margin-top: 15px;
	}
	.signUpBtn.mobile {
		width: 100%;
		padding: 0;
	}
	.signUpBtn.mobile h7 {
		width: 100%;
	}
	.credits {
		width: 100%;
	}
}

@media (max-width: 539px) and (min-height: 740px) {
	/* .ipadhead {
		margin-top: 8vh;
	} */
	/* .mobile-footer {
		margin-bottom: 40px;
	} */
}
@media (max-width: 350px) {
	#navbarHomeMobile h1 {
		font-size: 40px;
	}
	.ipadhead {
		margin-top: 20vh;
	}
}
