.home-container {
	display: flex;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	align-items: center;
	position: fixed;
}

.main-container {
	display: grid;
	grid-template-columns: .95fr .95fr 1.1fr 1.1fr .95fr .95fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px 20px;
	grid-template-areas: "ltla ltra main main rtla copy" "lmla lmra main main rmla copy" "lbla lbra main main rbla copy";

	max-width: 1260px;
}

.ltla {
	grid-area: ltla;
}
.ltra {
	grid-area: ltra;
}
.lmla {
	grid-area: lmla;
}
.lmra {
	grid-area: lmra;
}
.lbla {
	grid-area: lbla;
}
.lbra {
	grid-area: lbra;
}
.rtla {
	grid-area: rtla;
}
.rmla {
	grid-area: rmla;
}
.rbla {
	grid-area: rbla;
}
.copy {
	grid-area: copy;
}
.main {
	grid-area: main;
}

.copy {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header {
	height: fit-content;
}

.signUpBtn.homeEight {
	width: 100%;
	align-items: center;
}

.header h1 {
	font-size: 6rem;
}

.header h3 {
	font-size: 2.4rem;
	margin-bottom: -20px;
}

.signUpBtn {
	width: 47%;
	background: black;
	color: white;
	font-size: 14px;
	bottom: 0;
	font-weight: 500;
	font-family: franklin-gothic-atf, sans-serif;
	padding: 4px 20px;
	border: none;
	align-self: flex-end;
	text-align: center;
}
.signUpBtn:hover {
	background: grey;
	color: white;
}
signUpBtn.homeEight h7 {
	padding: 0 40px;
}
.footer {
	display: flex;
	justify-content: space-between;
}
@media (min-width: 1400px) {
	.home {
		width: 66vw;
		max-width: 1260px;
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	.home {
		width: 70vw;
	}
	#navbarHome {
		padding: 0;
	}
	#navbarSocial {
		width: 11vw;
	}
}

@media (min-width: 900px) and (max-width: 1199px) {
	.home,
	#navbarHome {
		width: 80vw;
	}
	.home-container #navbarSocial {
		width: auto;
		right: 3vw;
	}
}

@media (min-width: 540px) and (max-width: 899px) {
	.home,
	#navbarHome {
		width: 70vw;
	}
	#navbarSocial {
		width: 11vw;
	}
}
