.home-container {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
	margin-bottom: auto;
	margin-top: 70px;
	width: 100vw;
	height: 100vh;
}
.home {
	width: 65vw;
	height: 50vh;
	display: grid;
	grid-template-columns: .95fr 1.1fr .95fr;
	grid-template-rows: 0.3fr 2.5fr 0.2fr;
	gap: 0px 20px;
	grid-template-areas: "header header header" "left main right" "footer footer footer";
}
.header {
	grid-area: header;
}

.left {
	grid-area: left;
}

.main {
	grid-area: main;
}

.right {
	grid-area: right;
}

.footer {
	grid-area: footer;
	text-align: left;
	margin: 0;
}
.left {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.boxes {
	border: 1px solid powderblue;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "tl tr" "copy mr" "copy br";
	grid-gap: 20px;
}
.tl {
	grid-area: tl;
}
.tr {
	grid-area: tr;
}
.copy {
	grid-area: copy;
}
.mr {
	grid-area: mr;
}
.br {
	grid-area: br;
}
h1 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -2px;
	color: black;
	font-size: 64px;
	right: 14.5vw;
	margin: 0;
	text-align: right;
}
h2 {
	font-size: 16px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 3px;
	margin-top: 5px;
}
h3 {
	font-size: 28px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 3px;
	line-height: 4;
	text-align: right;
	margin-bottom: -50px;
}
