#navbarHome,
#navbar,
#navbarMexico {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 120px;
	top: 0;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw;
	margin-top: 50px;
}
#navbar,
#navbarMexico {
	padding: 0 15vw;
	margin: 0;
}
.buy {
	display: flex;
	width: 40wv;
	width: 60%;
	justify-content: space-around;
	width: 50%;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 2px;
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 50px;
}
span {
	font-style: normal;
}

h3,
h6 {
	font-size: 25px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 5px;
	line-height: 4;
}
h6 {
	font-size: 35px;
	/* margin-bottom: 15px; */
}
h3 {
	padding-top: 35px;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: grey;
}

.toggleNavBar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: grey;
	border: 1px solid black;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	margin: 0;
}

li {
	display: inline-flex;
}

.toggleNavBar a {
	margin: 20px 0;
	color: white;
}
.toggleNavBar a:hover {
	color: black;
}
.toggleNavBar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: grey;
	border: 1px solid black;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	margin: 0;
}

li {
	display: inline-flex;
}

.toggleNavBar a {
	margin: 20px 0;
	color: white;
}
.toggleNavBar a:hover {
	color: black;
}
