#newsletter-container {
	max-width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 37vw;
	margin-right: 7vw;
}
#newsletter-container p {
	margin-left: 20%;
	height: 100px;
	font-size: 22px;
	line-height: 1.5;
	text-align: right;
	color: black;
}
.forms {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	align-items: flex-end;
}

form {
	width: 100%;
}
form button {
	background: black;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	border-radius: 5%;
}
form button:hover {
	background: grey;
}
label.text-input {
	display: flex;
	justify-content: space-between;
}
input {
	height: 50px;
	width: 80%;
	max-width: 900px;
	margin-bottom: 30px;
	padding: 10px;
}
input:focus {
	outline: none;
}
input:hover {
	background: rgba(0, 0, 0, .05);
	border: 1px solid rgba(0, 0, 0, .5);
}

.submit {
	background: black;
	color: white;
	font-size: 15px;
	bottom: 0;
	font-weight: 500;
	font-family: franklin-gothic-atf, sans-serif;
	padding: 0;
	text-transform: uppercase;
	align-self: right;
	padding: 10px;
	height: 50px;
	width: 15%;
	margin-left: auto;
	margin-right: 10%;
	border: none;
}
.submit:hover {
	background: grey;
	border: 1px solid grey;
}

@media (min-width: 1150px) and (max-width: 1399px) {
	#newsletter-container {
		width: 45vw;
		margin-right: 8.5vw;
	}
	#newsletter-container p {
		margin-left: 20%;
	}
}

@media (min-width: 1075px) and (max-width: 1149px) {
	#newsletter-container {
		width: 45vw;
		margin-right: 8vw;
	}
	#newsletter-container p {
		margin-left: 15%;
		height: 100px;
	}
}
@media (min-width: 700px) and (max-width: 1074px) {
	#newsletter-container {
		width: 55vw;
		margin-right: 10vw;
	}
	#newsletter-container p {
		margin-left: 20%;
		height: 120px;
	}
}

@media (min-width: 200px) and (max-width: 699px) {
	#newsletter-container {
		width: 100vw;
		margin-right: 15vw;
		overflow-y: auto;
		margin-top: 30vh;
		justify-content: flex-start;
	}
	#newsletter-container p {
		margin-left: 20%;
		height: 120px;
		font-size: 19px;
	}
}
