#newsletter-container {
	max-width: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 37vw;
	margin-right: 7vw;
	margin-top: 10px;
	overflow: auto;
	margin-top: 185px;
}
.container-too {
	position: fixed;
}

#newsletter-new-container {
	max-width: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 37vw;
	margin-right: 7vw;
	margin-top: 10px;
	overflow: auto;
	margin-top: 185px;
	overflow-y: scroll;
	max-height: 800px;
	height: 80vh;
}

#newsletter-container p {
	margin-left: 20%;
	/* height: fit-content; */
	font-size: 18px;
	line-height: 1.5;
	text-align: right;
	color: black;
	margin-right: 0;
}
.forms {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	align-items: flex-end;
	margin-bottom: 30px;
}
.chimped {
	height: fit-content;
}

.intro {
	position: relative;
	z-index: 3;
}

form {
	width: 100%;
}
form button {
	background: black;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	border-radius: 5%;
}
form button:hover {
	background: grey;
}
label.text-input {
	display: flex;
	justify-content: space-between;
}
input {
	height: 50px;
	width: 80%;
	max-width: 900px;
	margin-bottom: 30px;
	padding: 10px;
}
input:focus {
	outline: none;
}
input:hover {
	background: rgba(0, 0, 0, .05);
	border: 1px solid rgba(0, 0, 0, .5);
}

.submit {
	background: black;
	color: white;
	font-size: 15px;
	bottom: 0;
	font-weight: 500;
	font-family: franklin-gothic-atf, sans-serif;
	padding: 0;
	text-transform: uppercase;
	align-self: right;
	padding: 10px;
	height: 50px;
	width: 15%;
	margin-left: auto;
	margin-right: 10%;
	border: none;
}
.submit:hover {
	background: grey;
	border: 1px solid grey;
}

.video {
	width: 80%;
	align-content: right;
	align-items: flex-end;
	margin-left: 20%;
	/* margin-top: 30px; */
	position: relative;
	cursor: pointer;
	margin-bottom: 30px;
}
.vid-button {
	position: absolute;
	z-index: 5;
	top: 60%;
	left: 40%;
	color: white;
	font-size: 1rem;
}
.fa-youtube,
.fa-5x {
	font-size: 3em;
}
@media (min-height: 800px) and (max-height: 1280px) {
	#newsletter-container {
		margin-top: 120px;
	}
	input,
	p {
		margin-bottom: 20px;
	}
}

@media (min-width: 1150px) and (max-width: 1399px) {
	#newsletter-container {
		width: 45vw;
		margin-right: 8.5vw;
	}
	#newsletter-container p {
		margin-left: 20%;
	}
}

@media (min-width: 1075px) and (max-width: 1149px) {
	#newsletter-container {
		width: 45vw;
		margin-right: 8vw;
	}
	#newsletter-container p {
		margin-left: 15%;
	}
}
@media (min-width: 700px) and (max-width: 1074px) {
	#newsletter-container {
		width: 55vw;
		margin-right: 10vw;
		margin-top: 250px;
	}
	#newsletter-container p {
		margin-right: 0px;
	}
}

@media (min-width: 540px) and (max-width: 699px) {
	.container {
		overflow: auto;
	}

	#newsletter-container {
		overflow: auto;
		justify-content: flex-start;
		margin-right: 15vw;
		width: 90vw;
		margin-top: 140px;
		margin-bottom: 20px;
	}
	#newsletter-container p {
		margin-left: 20%;
		font-size: 1.9rem;
		line-height: 1.2;
		overflow: unset;
	}
}
@media (min-width: 200px) and (max-width: 539px) {
	#navbarSocial {
		width: 100vw;
		height: 10vh;
		bottom: 0;
		top: unset;
		display: initial;
		z-index: 5;
		background: white;
	}
	.social {
		flex-direction: row;
		justify-content: center;
		margin-top: 10px;
	}
	.buyNav {
		display: inherit;
	}
	input {
		width: 90%;
		margin-bottom: 20px;
	}
	#newsletter-container {
		width: 100vw;
		margin-top: 130px;
		margin-bottom: 60px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	#newsletter-container p {
		margin-left: 10%;
		margin-bottom: 20px;
		line-height: 1.2;
	}

	.video {
		width: 100%;
	}
	.video img {
		width: 90%;
	}
}
/* /////horizontal mobile ////// */
@media (max-height: 540px) and (max-width: 899px) {
	.mobile {
		height: 40vh;
	}
	h6.jim {
		margin-top: -20px;
	}
	.jim-right {
		margin-top: 0;
	}
	.jim-container {
		height: 70vh;
		position: fixed;
	}
	.jim-left {
		width: 25%;
	}
	#newsletter-container {
		margin-top: 100px;
	}
}
