.App {
	text-align: center;
}
/* body {
	font-family: MundoSansPro-Medium;
} */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	overflow: hidden;
}
html {
	position: fixed;
	overflow: hidden;
}

body > .mobile-container {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

.container {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
	margin-bottom: auto;
	margin-top: 100px;
	width: 100vw;
	height: 100vh;
}
p {
	margin-top: 100px;
}
